
    <!--div class="card p-col-12 p-d-flex p-jc-between">
        
            <h5>Select the customer</h5> 
        <div class="p-d-inline">
                <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                <span class="p-ai-center">Close</span>  
        </div>            
    </div>

<h5>Customer Search</h5>
    <div class="card p-col-12">
        <div class="p-d-inline">
            <input class="p-mr-4" type="text" placeholder="Search" pInputText>
			<button pButton pRipple type="button" label="Find by customer Id" class="p-button-info  p-mr-2 p-mb-2"></button>
			<button pButton pRipple type="button" label="Find by customer Name" class="p-button-info p-mr-2 p-mb-2"></button>
        </div>
    </div-->
